@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 203, 213, 225;
        --background-start-rgb: 15, 23, 42;
        --background-end-rgb: 2, 6, 23;
    }
}

@layer components {
    .btn-primary {
        @apply my-4 py-2 px-4 bg-orange-600 text-white font-semibold rounded-md shadow-md hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-orange-900 focus:ring-opacity-75;
    }
    .form-row {
        @apply flex flex-row space-x-4 w-full;
    }
    .field-wrapper {
        @apply flex flex-col items-start justify-stretch space-y-1 w-full;
    }
    .field-input {
        @apply w-full text-slate-300 bg-slate-800 border-slate-600 text-sm rounded-md;
    }
    .field-input-radio {
        @apply form-radio mr-2 bg-slate-300;
    }
    .field-input-checkbox {
        @apply form-checkbox mr-2 bg-slate-300;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
